/*--------------------------------------------------------------
# shop-items
--------------------------------------------------------------*/

.shop-items h1 {
    color: #fefefe;
}

a {
    text-decoration: none !important;
}

.shop-items .box {
    padding: 40px 20px;
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background: #fefefe;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
}

.shop-items .box h3 {
    font-weight: 400;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #124265;
}

.shop-items .box h4 {
    font-size: 42px;
    color: #2487ce;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
}

.shop-items .box h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
}

.shop-items .box h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
}

.shop-items .box ul {
    padding: 0;
    list-style: none;
    color: #124265;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.shop-items .box ul li {
    padding-bottom: 16px;
}

.shop-items .box ul .na {
    color: #ccc;
    text-decoration: line-through;
}

.shop-items .box .btn-wrap {
    padding: 15px;
    text-align: center;
}

.shop-items .box .btn-buy {
    display: inline-block;
    padding: 10px 40px;
    border-radius: 4px;
    color: #2487ce;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    border: 2px solid #2487ce;
}

.shop-items .box .btn-buy:hover {
    background: #2487ce;
    color: #fff;
}

.shop-items .featured {
    background: #2487ce;
}

.shop-items .featured h3,
.shop-items .featured h4,
.shop-items .featured h4 span,
.shop-items .featured ul,
.shop-items .featured ul .na {
    color: #fff;
}

.shop-items .featured .btn-wrap {
    padding: 15px;
    text-align: center;
}

.shop-items .featured .btn-buy {
    color: #fff;
    border: 2px solid #fff;
}

.shop-items .featured .btn-buy:hover {
    background: #fff;
    color: #2487ce;
}


/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/

.counts {
    padding: 60px 0;
    background-color: rgba(0, 0, 0, 0.424);
}

.counts .count-box {
    width: 100%;
    text-align: center;
}

section.counts .count-box span {
    font-size: 48px;
    line-height: 48px;
    display: block;
    font-weight: 700;
    color: #d3d3d3;
    margin-left: 80px;
    margin: auto;
}

.counts .count-box p {
    padding: 8px 0 0 0;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #d3d3d3;
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services .icon-box {
    text-align: center;
    padding: 70px 20px 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

.services .icon-box .icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
}

.services .icon-box .icon i {
    font-size: 36px;
    transition: 0.5s;
    position: relative;
}

.services .icon-box .icon svg {
    position: absolute;
    top: 0;
    left: 0;
}

.services .icon-box .icon svg path {
    transition: 0.5s;
    fill: #f5f5f5;
}

.services .icon-box h4 {
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 22px;
}

.services .icon-box h4 a {
    color: #124265;
    transition: ease-in-out 0.3s;
}

.services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.services .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.services .iconbox-blue i {
    color: #47aeff;
}

.services .iconbox-blue:hover .icon i {
    color: #fff;
}

.services .iconbox-blue:hover .icon path {
    fill: #47aeff;
}

.services .iconbox-orange i {
    color: #ffa76e;
}

.services .iconbox-orange:hover .icon i {
    color: #fff;
}

.services .iconbox-orange:hover .icon path {
    fill: #ffa76e;
}

.services .iconbox-pink i {
    color: #e80368;
}

.services .iconbox-pink:hover .icon i {
    color: #fff;
}

.services .iconbox-pink:hover .icon path {
    fill: #e80368;
}

.services .iconbox-yellow i {
    color: #ffbb2c;
}

.services .iconbox-yellow:hover .icon i {
    color: #fff;
}

.services .iconbox-yellow:hover .icon path {
    fill: #ffbb2c;
}

.services .iconbox-red i {
    color: #ff5828;
}

.services .iconbox-red:hover .icon i {
    color: #fff;
}

.services .iconbox-red:hover .icon path {
    fill: #ff5828;
}

.services .iconbox-teal i {
    color: #11dbcf;
}

.services .iconbox-teal:hover .icon i {
    color: #fff;
}

.services .iconbox-teal:hover .icon path {
    fill: #11dbcf;
}

.services .text-service {
    padding-bottom: 50px;
    color: rgba(183, 211, 255, 0.698);
    font-weight: bold;
    font-size: 40px;
}

.services {
    padding-bottom: 100px;
}


.just_bottom {
    margin-bottom: 295px;
}

.just_top {
    margin-top: 200px;
}